## Intro to Dataframes

In [1]:
import pandas as pd

In [20]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['A','B','C'], index=['X','Y', 'Z'])
df.index.to_list()
df.index

Index(['X', 'Y', 'Z'], dtype='object')

In [18]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [25]:
df.shape

(3, 3)

## Accessing Data with Pandas

In [40]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
results = pd.read_parquet('./data/results.parquet')
results.head()

In [ ]:
olympics_data = pd.read_excel('./data/olympics-data.xlsx')
olympics_data.head()

In [51]:
coffee.sample(10, random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35

In [52]:
coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

## Loading in Dataframe from files

In [38]:
bios = pd.read_csv('./data/bios.csv')

In [ ]:
bios.to_excel

## Merging & Concatenating Data

## Handling Null Values

## Aggregating Data

#### Groupby function in Pandas

#### Pivot Tables

#### Using datetime with Groupby

## Advanced Functionality

## Advanced Functionality (cont.)
These two libraries didn't actually make it into final video

## New Functionality

## What Next???

Check out some of my other tutorials:
- [Cleaning Data w/ Pandas](https://www.youtube.com/live/oad9tVEsfI0?si=qnDOg9BSRFxcP5gZ)
- [Solving 100 Python Pandas Problems](https://youtu.be/i7v2m-ebXB4?si=VSJHnZryqMv8GW54)
- [Real-world Data Analsys Problems w/ Python Pandas](https://youtu.be/eMOA1pPVUc4)

Platforms to Try
- [Stratascratch](https://stratascratch.com/?via=keith)
- [Analyst Builder](https://www.analystbuilder.com/?via=keith)